/*
Général 
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

/*
Header 
*/

.headTitle {
    background-color:#2c2c2c;;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: white;
    text-align: center;
}

.subtitle {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.delivre {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    color: white;

}

.phoneContact {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: white;
    
}

.phoneContact a {
    color: white;
    text-decoration: none;
}

.phoneContact a:hover{
    color: white;
    text-decoration: none;
}

/* follow */

.follow ul {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
  }
  
  .follow ul li {
    list-style: none;
  }
  
  .follow ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  .follow ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  .follow ul li a .fa {
    widht: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  .follow ul li:nth-child(1) a:hover .fa {
    color: #3b5998;
  }
  
  .follow ul li:nth-child(2) a:hover .fa {
    color: #e4405f;
  }


/* accroche */

.accroche {
    background-color: black;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}

.note {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.secondAccroche {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
}

/* Tab */

.tomateContent h2{
    margin-top: 3rem;
    margin-left: 5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    border-left: 4px solid coral;
    padding-left: 2rem;
}

.cremeContent h2{
    margin-left: 5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    border-left: 4px solid coral;
    padding-left: 2rem;
}

.aboutUs h3{
    margin-left: 5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    border-left: 4px solid coral;
    padding-left: 2rem;
}

.aboutUs p{

    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    margin-left: 2rem;

}

/* Card */

.card {  
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: 0 0 20px #00000070;
    border-radius: 5px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.03);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-title {
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
}

.card ul {
   list-style: none;
}

.ingredient {
    font-style: italic;
    text-align: center;
}

/* localisation */

.localisation {
    background-color: #2c2c2c;;
}

.contactBlock {
    color: white;
    
}

.contactBlock h4{
    font-family: 'Lobster', sans-serif;
    font-size: 1.7rem;
}


.tab-pane {
    margin-left: 2rem;
    margin-right: 2rem;
}

.map {
    margin: 2rem auto;
}
